[user]
	name = Serge Seletskyy
	email = sseletskyy@rocketfuel.com
[credential]
	helper = osxkeychain
[mergetool "sublime"]
	cmd = subl -w $MERGED
	trustExitCode = false
[merge]
	tool = sublime
[core]
  editor=vim
	autocrlf = input
	excludesfile = /Users/gustotune/.gitignore_global
[alias]
	co = checkout
	ci = commit -v
  cm = commit 
	st = status
	cat = cat-file
	br = branch
	ffwd = pull --rebase
	changes = diff --name-status -r
	diffstat = diff --stat -r
	up = pull --rebase origin master
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	vdf = difftool
  gerrit-review-core = push origin HEAD:refs/for/master%r=vyazadji@rocketfuel.com,r=mdvoryanchenko@rocketfuel.com,r=iyani@rocketfuel.com,r=pmaliy@rocketfuel.com,r=iudovika@rocketfuel.com,r=ofomina@rocketfuel.com,r=asadreev@rocketfuel.com,r=amyroniuk@rocketfuel.com,r=achalupka@rocketfuel.com
  gerrit-review-insights = push origin HEAD:refs/for/feature-orion-insights%r=ofomina@rocketfuel.com,r=asadreev@rocketfuel.com,r=amyroniuk@rocketfuel.com,r=dmasalovich@rocketfuel.com,r=egavrilenko@rocketfuel.com,r=kredunova@rocketfuel.com,r=ngromova@rocketfuel.com,r=vmalyshev@rocketfuel.com
  gerrit-review-master = push origin HEAD:refs/for/feature-orion-insights%r=ofomina@rocketfuel.com,r=asadreev@rocketfuel.com,r=amyroniuk@rocketfuel.com,r=dmasalovich@rocketfuel.com,r=egavrilenko@rocketfuel.com,r=kredunova@rocketfuel.com,r=ngromova@rocketfuel.com,r=vmalyshev@rocketfuel.com
  gerrit-core = push origin HEAD:refs/for/feature-mc-orion
  gerrit-master = push origin HEAD:refs/for/master
  gerrit-insights = push origin HEAD:refs/for/feature-orion-insights
[color]
	branch = auto
	diff = auto
	grep = auto
	interactive = auto
	ui = auto
	status = auto
	showbranch = auto
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[diff]
	tool = vimdiff
[gitsh]
    noGreeting = false
    defaultCommand = status --short --branch && :echo
[gitsh "color"]
    default = cyan
    untracked = yellow
    modified = red
